#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

ul {
  list-style-type: none;
}

.selectedPost {
  border: 10px solid purple;
  background-color: lavender;
}

.selectedAlbum {
  text-align: center;
}

.photosUl {
  margin-left: -50px;
}

.LoadMoreBtn {
  border: 5px solid mintcream;
  background-color: rgb(166, 225, 227);
  border-radius: 10px;
  transition: border-color 0.25s;
}

.commentsDiv {
  border: 5px solid mintcream;
  background-color: rgb(166, 225, 227);
  border-radius: 10px;
  transition: border-color 0.25s;
}
/* .photosDiv{
  
} */
